<html>
	<head>
        	<style>
			body {
			   background-image: url("./templates/page1.jpg");
			   background-color: #cccccc;
			}
		</style>
        </head>
	<body>
		<p id="change">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris porta massa nisl, eu ultricies arcu aliquet sed. Fusce eu bibendum metus. Quisque blandit ultricies quam nec semper. 			Praesent eget ultrices nunc. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras quis odio massa. Sed nec neque porta, gravida purus non, 			sodales quam. Pellentesque ac nisl consectetur, interdum mauris eu, suscipit elit. Quisque pellentesque diam id tempor feugiat.
		</p>	
	</body>
</html>
