<html>
	<head>
        	<style>
			body {
			   background-image: url("page2.jpg");
			   background-color: #cccccc;
			}
		</style>
        </head>
	<body>
		<p id="change">
			Integer posuere vel purus et porttitor. Sed laoreet commodo mi a porttitor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nullam fermentum 				arcu nisi, sed tincidunt ex placerat vel. Vestibulum consequat dictum felis scelerisque iaculis. Ut euismod neque non arcu pharetra malesuada. Nunc libero ligula, imperdiet quis quam et, auctor congue 	arcu.
		</p>	
	</body>
</html>
